html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}


.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.field {
  width: 150px;
  text-align: center;
  font-size: 33px;
  border-radius: 10px;
  background: #ccc;
  margin-right: 10px;
}
